.task {
    border: 1px solid rgba(0 0 0 / 30%);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    transition: .3s;
    cursor: pointer;
    margin-bottom: 20px;
}

.task:hover {
    transform: scale(1.1);
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.task__done{
    background: rgb(75, 248, 7);
    color: #ffffff;
}

/* .task__done  > .btn-block > .btn-success,
.task__done  > .btn-block > .btn-warning  {
    display: none;
} */