.todos {
    margin: 70px auto;
    width: 70%;
    text-align: center;
}

.todos-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks {
    margin-top: 20px;
}
