.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    background: #2c3e50;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-text {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 7px;
    padding: 40px;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.header__logo-text:hover {
    color: tomato;
}

ul {
    list-style: none;
    padding-right: 50px;
    display: flex;
}

li {
    color:#fff;
    margin-left: 25px;
}

.header__nav-text {
    color:#fff;
    text-decoration: none;
    transition: .3s;
}

.header__nav-text:hover,
.header__nav-text:active {
    color: tomato;
    font-weight: bold;
}

