.create {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
    width: 80%;
    border: 1px solid rgba(0 0 0 / 20%);
    border-radius: 5px;
    box-shadow: 10px 0 15px 0 rgba(0 0 0 / 20%);
    text-align: center;
}

.form input,
.form textarea {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(0 0 0 / 20%);
    border-radius: 5px;
}

.form textarea {
  resize: none;
}

.form input:focus,
.form textarea:focus {
  box-shadow: 10px 0 15px 0 rgba(0 0 0 / 20%);
}

.button-block {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.button-block .btn-primary {
    margin-right: 0;
}

@media screen and (max-width: 330px) {
    .create {
        margin-top: 20px;
    }
}
