.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 70px;
  left: 0;
  background: #2c3e50;
  transition: 0.3s all;
  transform: translateX(100%);
}

.menu__active {
  transition: 0.3s all;
  transform: translateX(00%);
}

.menu__content {
  display: flex;
  flex-direction: column;
}

.menu__content ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menu__content ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin-left: 0;
  margin-bottom: 25px;
}
