.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  background: #2c3e50;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #fff;
}
