.wrapper {
  width: 50%;
  height: 70vh;
  margin: 20px auto;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

li {
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.text {
  width: 70%;
  margin-left: 10px;
  box-sizing: border-box;
}

.btn {
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid green;
  border-radius: 5px;
  background: #fff;
  font-weight: bold;
  color: black;
}

.btn-primary:hover {
  background: rgb(7, 230, 37);
  color: #fff;
}

.btn-danger {
  border: 1px solid red;
}

.btn-danger:hover {
  background: rgb(243, 6, 6);
  color: #fff;
}

input {
  width: 70%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

form button {
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid green;
  border-radius: 5px;
  background: #fff;
  font-weight: bold;
  color: black;
}

form button:hover {
  background: rgb(7, 230, 37);
  color: #fff;
}